Repository epispot/epispot, pull requests merged in 2021-11, with the labels that each got.

#113 Python 3.10
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/nightly.yml
  .github/workflows/python-publish.yml
  .gitignore
  requirements/pre-requirements.txt
  requirements/requirements-dev.txt
  requirements/requirements-nightly.txt
  requirements/requirements.txt
  setup-nightly.py
  setup.cfg
Labels: good first issue :+1:, unsupported :no_entry:, nightly :crescent_moon:, high-priority :arrow_up_small:

#120 Bump version to v3.0.0-alpha-3
  epispot/__init__.py
  setup-nightly.py
Labels: nightly :crescent_moon:, src

#121 Fix failing docs from #113
  .github/workflows/docs.yml
Labels: bug :warning:, doc :scroll:, high-priority :arrow_up_small:

#122 Deploy v3.0.0-alpha-3
  .deepsource.toml
  .github/CODEOWNERS
  .github/actions/spelling/allow.txt
  .github/actions/spelling/patterns.txt
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/nightly.yml
  .github/workflows/python-publish.yml
  .gitignore
  .zenodo.json
  CHANGELOG.md
  README-nightly.md
  README.md
  SECURITY.md
  epispot/__init__.py
  epispot/models.py
  requirements/pre-requirements.txt
  requirements/requirements-dev.txt
  requirements/requirements-nightly.txt
  requirements/requirements.txt
  setup-nightly.py
  setup.cfg
  setup.py
Labels: nightly :crescent_moon:, high-priority :arrow_up_small:, src, repo
