Repository epispot/epispot, pull requests merged in 2021-07, with the labels that each got.

#83 Lock requirement files (Fix #80)
  requirements-dev.txt
  requirements-nightly.txt
  requirements.txt
Labels: feat :rocket:, low-priority :arrow_down_small:, nightly :crescent_moon:

#86 Patch #81
  .github/dependabot.yml
Labels: dependencies, repo

#88 Travis CI Fix
  .travis.yml
  CONTRIBUTING.md
  bin/requirements.txt
  requirements-dev.txt
  requirements-nightly.txt
  requirements.txt
  requirements/README.md
  requirements/requirements-dev.txt
  requirements/requirements-nightly.txt
  requirements/requirements.txt
  scripts/README.md
  scripts/build.sh
  scripts/conda.sh
  scripts/travis/build.sh
  upload.sh
Labels: dependencies, feat :rocket:, low-priority :arrow_down_small:, nightly :crescent_moon:, repo, src

#89 Clean up #88
  .github/CODEOWNERS
  requirements/README.md
  scripts/README.md
Labels: doc :scroll:, invalid :exclamation:, low-priority :arrow_down_small:, repo

#91 Remove scope from dependabot
  .github/dependabot.yml
Labels: repo

#92 Create spellcheck.yml
  .github/actions/spelling/allow.txt
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/actions/spelling/patterns.txt
  .github/workflows/codeql-analysis.yml
  .github/workflows/mod.yml
  .github/workflows/nightly.yml
  .github/workflows/python-publish.yml
  .github/workflows/spellcheck.yml
  .travis.yml
  CONTRIBUTING.md
  README.md
  epispot/comps.py
  epispot/plots/native.py
Labels: feat :rocket:, low-priority :arrow_down_small:, src

#93 Switch from Travis CI → GitHub Actions
  .github/actions/spelling/allow.txt
  .github/actions/spelling/expect.txt
  .github/workflows/build.yml
  .travis.yml
  requirements/README.md
  requirements/pre-requirements.txt
  scripts/README.md
  scripts/runner/build.sh
Labels: bug :warning:, high-priority :arrow_up_small:, unsupported :no_entry:

#94 Redesign compartments per #73
  .github/actions/spelling/allow.txt
  .github/actions/spelling/expect.txt
  epispot/__init__.py
  epispot/comps.py
  epispot/models.py
  epispot/plots/native.py
  epispot/plots/web.py
  epispot/pre.py
  lgtm.yml
  tests/test_advanced.py
  tests/test_plotting.py
  tests/test_sir-variants.py
  tests/test_sir_variants.py
  tests/test_x.py
Labels: doc :scroll:, feat :rocket:, high-priority :arrow_up_small:, src, tests

#95 Prepare release of v3.0.0-alpha-2
  .deepsource.toml
  .github/actions/spelling/allow.txt
  .github/actions/spelling/expect.txt
  CHANGELOG.md
  README-nightly.md
  SECURITY.md
  epispot/__init__.py
  epispot/fitters.py
  setup-nightly.py
  setup.cfg
  tests/test_x.py
Labels: doc :scroll:, feat :rocket:, high-priority :arrow_up_small:, nightly :crescent_moon:, src, tests
